Redirect 301 /contact.html/index.html#contact 
Redirect 301 /creative-services/index.html/creative-services/brandstrategy.html 
Redirect 301 /digital-marketing/index.html/digital-marketing/digitalstrategy.html
Redirect 301 /web-development/index.html/web-development/web-design-christchurch.html
Redirect 301 /about.html/who-we-are.html
Redirect 301 /mywork.html/our-previous-work.html
Redirect 301 /web-development/websiteaudit.html/web-development/website-audit-checker-nz.html
Redirect 301 /web-development/webdesign.html/web-development/web-design-christchurch.html
Redirect 301 /web-development/seo.html/web-development/seo-services-christchurch.html
Redirect 301 /web-development/landingpages.html/web-development/landing-pages.html
Redirect 301 /digital-marketing/websitemarketing.html/digital-marketing/website-marketing-christchurch.html
Redirect 301 /digital-marketing/emailmarketing.html/digital-marketing/email-marketing-agency-christchurch.html
Redirect 301 /digital-marketing/digitalstrategy.html/digital-marketing/digital-strategy-christchurch-nz.html
Redirect 301 /creative-services/template.html/creative-services/document-templates-formatting-graphic-design.html
Redirect 301 /creative-services/marketingcollateral.html/creative-services/marketing-material-graphic-design.html
Redirect 301 /creative-services/logodesign.html/creative-services/logo-design-christchurch-nz.html
Redirect 301 /creative-services/brandstrategy.html/creative-services/brand-strategy-development.html









