body {
  font-family: "Jura", sans-serif;
}

h1 {
  font-family: "Spinnaker", sans-serif;
  font-size: 96px;
}
h2 {
  font-family: "Jura", sans-serif;
  font-size: 48px;
}
h3 {
  font-family: "Jura", sans-serif;
}

.intro {
  height: 600px;
  /*background: url(/images/Icon\ big.png) no-repeat center;*/
}
.dev {
  background-color: #556778;
}
.design {
  background-color: #fff;
}
.designer {
  text-align: right;
  color: #556778;
}
.developer {
  text-align: left;
  color: #fff;
}
h3.designer,
h3.developer {
  font-size: 50px;
  margin-top: 50px;
}
h2.designer,
h2.developer {
  font-size: 70px;
  margin-top: 10px;
}
h1.designer,
h1.developer {
  font-size: 45px;
  margin-top: 10px;
}
#pencil {
  font-size: 150px;
  text-align: center;
  color: #556778;
}
#code {
  font-size: 150px;
  text-align: center;
  color: #fff;
}
