:root {
  --primary-color: #556778;
  --secondary-color: #ddd949;
  --tertiary-color: #a2d9dd;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Jura", sans-serif;
}

h3 {
  font-family: "Spinnaker", sans-serif;
  font-size: 96px;
}
h2 {
  font-family: "Spinnaker", sans-serif;
  font-size: 48px;
}
h1 {
  font-family: "Spinnaker", sans-serif;
  text-align: left;
}
h4 {
  font-family: "Jura", sans-serif;
  font-size: 45px;
}
h5 {
  font-family: "Jura", sans-serif;
  font-size: 35px;
}
p {
  font-size: 16px;
  text-align: justify;
  font-family: "Jura", sans-serif;
}
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0;*/
}
nav {
  background: #cd4589;
  padding: 0 15px;
}
ul {
  list-style-type: none;
  font-family: "Jura", sans-serif;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: white;
  text-decoration: underline;
}

.menu li {
  font-size: 18px;
  padding: 15px 5px;
}
.menu li a {
  display: block;
}

.logo a {
  font-size: 20px;
}
#navbarDropdown {
  color: white;
  text-decoration: none;
}
#navbarDropdown:hover {
  color: white;
  text-decoration: underline;
}

/* mobile menu*/

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item {
  width: 100%;
  text-align: center;
  display: none;
}
.item.active {
  display: block;
}
.toggle {
  cursor: pointer;
}
.logo {
  order: 1;
  text-align: right;
}
.bars {
  background: white;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
  order: 0;
}
.bars::before,
.bars::after {
  background: white;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}

/* tablet menu*/
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
}
/* desktop menu*/
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 1;
    display: block;
    text-align: right;
  }
  .item {
    order: 0;
  }
  .menu li {
    padding: 15px 10px;
  }
}

.intro {
  height: 800px;
  /*background: url(/images/Icon\ big.png) no-repeat center;*/
}
.dev {
  background-color: #556778;
}
.design {
  background-color: #fff;
}
.designer {
  text-align: right;
  font-family: "Jura", sans-serif;
  color: #556778;
  padding-right: 20px;
}
.developer {
  text-align: left;
  color: #fff;
  padding-left: 20px;
  font-family: "Jura", sans-serif;
}

.logo-intro {
  margin-top: 50px;
  height: 150px;
  float: right;
  padding-right: 0;
}
.logo-intro-2 {
  margin-top: 50px;
  height: 150px;
  float: left;
  padding-left: 0;
}
.contact-link {
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
}
.contact-button a {
  margin: 10px;
  border-radius: 4px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link:hover {
  color: black;
}

.contact-button {
  display: flex;
  justify-content: left;
}
.title {
  margin: 30px auto;
  padding-left: 80px;
}
h1.title {
  font-size: 40px;
  font-weight: 700;
}
.web-dev,
.print-dev,
.brand-dev {
  display: block;
  margin: 10px auto;
  width: 70%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.web-dev {
  background-color: rgba(221, 217, 73, 0.6);
}
.print-dev {
  background-color: rgba(128, 214, 208, 0.6);
}
.brand-dev {
  background-color: rgba(205, 69, 137, 0.6);
}

.img-sample {
  width: 98% !important;
}
.about-box {
  display: block;
  margin: 10px auto;
  width: 80%;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
}
p.bio {
  font-size: 16px;
  text-align: justify;
  font-family: "Jura", sans-serif;
  font-weight: 600;
}
p.bio-highlight {
  font-size: 18px;
  font-weight: bold;
  font-family: "Jura", sans-serif;
}
li.bio-list {
  font-size: 16px;
  text-align: justify;
  font-family: "Jura", sans-serif;
  font-weight: 600;
}
.profile {
  max-height: 250px;
}
.bio-title {
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
}
.bio-container {
  margin: 15x;
  padding: 20px;
  float: center;
  background-color: #f1f1f1;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  display: flex;
  justify-content: center;
}

h3.work-type {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 20px;
  /*transform: rotate(-90deg);
  margin-left: -350px;
  margin-top: -80px;*/
}
.work-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  /*transform: rotate(-90deg);
  margin-left: -250px;
  margin-top: 0px;*/
}
p.work-desc {
  margin-top: 40px;
  margin-left: 50px;
  font-size: 16px;
  font-family: "Jura", sans-serif;
}

.top-line-title {
  display: block;
  height: 30px;
  width: 100%;
  background-color: #556778;
  margin-top: 20px;
}
.bottom-line-title {
  display: block;
  height: 10px;
  width: 100%;
  background-color: #cd4589;
  margin-bottom: 20px;
}
.email-link {
  display: block;

  color: white;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
  color: white;
}
.email-footer {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: white;
  font-family: "Jura", sans-serif;
}
footer {
  margin: 15px auto;
  padding: 15px;
  background: #cd4589;
}

#terms {
  text-align: center;
  color: white;
}
#terms a {
  text-decoration: none;
  color: white;
}
#terms a:hover {
  text-decoration: underline;
}
.social-links a {
  margin: 0 30px;
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 35px;
  background: #fff;
  border-radius: 50%;
  transition: all 80ms;
}
.social-links a :hover {
  padding: 10px 20px;
  background: var(--primary-color);
  border-radius: 50%;
  color: #fff;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}
.accordion-item {
  background-color: #fff;
  color: black;
  margin: 20px 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 35px;
  position: absolute;
  right: 1rem;
  margin-bottom: 0.5rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #556778, transparent) 1;
  font-size: 16px;
  font-family: "Jura", sans-serif;
}
.tools {
  padding: 20px 20px;
}
.technology {
  display: block;
  text-align: center;
  font-size: 80%;
}
.img-tech {
  display: block;
  margin: 0 auto;
  width: 25% !important;
}
.service-intro {
  font-size: 16px;
  font-family: "Jura", sans-serif;
}

@media (max-width: 768px) {
  h1.designer,
  h1.developer {
    font-size: 30px;
    margin-top: 180px;
    font-weight: 700;
  }
  .intro {
    height: 500px;
  }
  h2.designer,
  h2.developer {
    font-size: 50px;
    margin-top: 30px;
  }
  h3.designer,
  h3.developer {
    font-size: 38px;
    margin-top: 10px;
  }
  .developer {
    padding-left: 10px;
  }
  .designer {
    padding-right: 10px;
  }
  .logo-intro {
    margin-top: 40px;
    height: 100px;
  }
  .logo-intro-2 {
    margin-top: 40px;
    height: 100px;
  }
  p {
    font-size: 14px;
  }
  .contact-link {
    font-size: 15px;
  }
  .contact-button a {
    padding: 15px 30px;
  }

  h1.title {
    font-size: 35px;
    font-weight: 700;
  }
  .web-dev {
    margin-bottom: 5px;
    width: 100%;
    /*height: 450px;*/
  }

  .print-dev {
    width: 100%;
    /*height: 450px;*/
  }
  .brand-dev {
    width: 100%;
    /*height: 450px;*/
  }
  h3.work-type {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    /*transform: rotate(-90deg);*/
  }
  .work-title {
    font-size: 18px;
    margin-left: 30px;
    /*transform: rotate(-90deg);*/
  }
  p.work-desc {
    margin-top: 0;
    margin-left: 40px;
  }

  .bio-title {
    font-size: 20px;
    font-weight: bold;
    margin: 50px auto;
  }
  .about-box {
    width: 85%;
    background-color: white;
  }
  p.bio {
    font-size: 16px;
    text-align: justify;
  }
  p.bio-highlight {
    font-size: 16px;
    font-weight: bold;
  }
  .img-tech {
    display: block;
    margin: 0 auto;
    width: 35% !important;
  }
  h4.accordion-item-header {
    font-size: 30px;
  }
  .accordion-item-body-content {
    font-size: 16px;
  }
  .service-intro {
    font-size: 16px;
  }
}
@media (max-width: 570px) {
  .web-dev {
    width: 100%;
    /* height: 450px;*/
  }
  .print-dev {
    width: 100%;
    /*height: 450px;*/
  }
  .brand-dev {
    width: 100%;
    /*height: 450px;*/
  }
  p.work-desc {
    font-size: 16px;
    margin-top: 0;
    margin-left: 40px;
  }
  h3.work-type {
    font-size: 18px;
  }
  .work-title {
    font-size: 16px;
  }
  .social-links a {
    margin: 0 10px;
    color: var(--primary-color);
    padding: 10px 16px;
    font-size: 20px;
    background: #fff;
    border-radius: 50%;
  }
  .about-box {
    width: 85%;

    background-color: white;
  }

  .img-tech {
    display: block;
    margin: 0 auto;
    width: 55% !important;
  }
  h4.accordion-item-header {
    font-size: 20px;
  }
  .accordion-item-body-content {
    font-size: 14px;
  }
  .service-intro {
    font-size: 14px;
  }
}
.creative-services {
  background-color: #556778;
  color: white;
  font-size: 26px;
  padding: 80px;
  margin: 0 auto;
  min-width: 100%;
  font-family: "Jura", sans-serif;
  font-weight: bold;
}

.creative-services a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.creative-services a:hover {
  text-decoration: underline;
  color: white;
}
.service-icon {
  float: right;
  margin-top: 0 auto;
}
.service-image {
  display: block;
  max-height: 80%;
}
.web-intro {
  display: block;
  padding-top: 40px;
  padding-bottom: 10px;
  color: black;
}
.website-title {
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
}
.intro-services {
  background-color: #cd4589;
  color: white;
  font-size: 26px;
  padding: 30px;
  margin: 0 auto;
  min-width: 100%;
  font-family: "Jura", sans-serif;
  font-weight: bold;
}
.intro-services a {
  text-decoration: none;
  color: white;
  text-align: left;
  display: block;
  padding: 20px 10px;
}
.intro-services a:hover {
  text-decoration: underline;
  color: white;
}
.mascot {
  max-height: 60%;
}
.testimonials {
  background-color: #ddd949;
  padding: 30px;
  margin: 0 auto;
  min-width: 100%;
}
.testimonial-title {
  text-align: center;
}
.testimonial-content {
  background-color: #fff;
  max-width: 80%;
  margin: 10px auto;
  padding: 20px;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background: var(--secondary-color) !important;
  box-shadow: var(--box-shadow) !important;
  color: var(--primary-color) !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding: 15px 60px !important;
  border-style: none !important;
  font-family: "Jura", sans-serif !important;
}
.btn-primary:hover {
  color: black !important;
}
.work-button {
  border-radius: 4px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: capitalize;
}
.work-button a {
  display: flex;
  justify-content: center;
  margin: auto 10px;
  border-radius: 4px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: capitalize;
}
.terms {
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
